<html>
	<head>
		@input(template/head.content)
	</head>

	<body>
		@inputcontent

		<script>
			var canvas = document.getElementById('canvas')
			var ctx = canvas.getContext('2d')
			canvas.width = innerWidth
			canvas.height = innerHeight

			var c1 = Math.floor(Math.random() * 250);
			var c2 = Math.floor(Math.random() * 250);
			var c3 = Math.floor(Math.random() * 250);
			var party = motionmachine(ctx, [c1, c2, c3])
			party.start() // start animating
			party.setPreDrawCallback(function(dt){
				//party.addMotion(innerWidth/2, innerHeight, .5)
				canvas.width = innerWidth
				canvas.height = innerHeight
			})

			onmousemove = function (e) 
			{
				var x = e.clientX
				var y = e.clientY
				var n = .5
				var t = Math.floor(Math.random() * 200) + 3800
				party.addmotion(x, y, n, t)
			}
		</script>
	</body>
</html>
