html 
{
	background: #0e0f0f;
	overflow-y: scroll;
	position: absolute;
	margin: 0;
	width: 100%;
	overflow: hidden;
	height: 100%;

	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
	     -moz-user-select: none; /* Firefox */
	      -ms-user-select: none; /* Internet Explorer/Edge */
	          user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body 
{
	/*background:#484848;*/

	display: table;

	width: 100%;
	max-width: 800px !important;
	margin: 0 auto; 

	margin-bottom: 40px !important;

	word-wrap:break-word;

	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;

	/*-moz-box-shadow: 3px 3px 5px #202020;
	-webkit-box-shadow: 3px 3px 5px #202020;
	box-shadow: 3px 3px 5px #202020;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;*/
}

#smoke
{
	position: absolute;
	top: 60%;
	text-align: center;

	transition-property: color;
	-o-transition:1s;
	-ms-transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	/* ...and now for the proper property */
	transition:1s;
}

#smoke:hover
{
	top:-50%;/*10%;*/
	left:15%;
	size:50%;
	margin-top:-20px;
	margin-bottom:-20px;

	transition-property: color;
	-o-transition:1s;
	-ms-transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	/* ...and now for the proper property */
	transition:1s;
}

.noselect 
{
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
 	   -khtml-user-select: none; /* Konqueror HTML */
   	     -moz-user-select: none; /* Firefox */
	      -ms-user-select: none; /* Internet Explorer/Edge */
	          user-select: none; /* Non-prefixed version, currently
	                                supported by Chrome and Opera */
}

/*
	Creator: Nicholas Ham https://n-ham.com
non-exhaustive
	about: - an actual doctor of actual pure mathematics, with original research
		     for semigroups, lattice paths and finite strategic-form games;
		 - actual duckling (who brought down the aggregate bittorrent site 
		   forum who were helping prevent people from being able to learn,
		   discuss topics, ask questions, and were tormenting people with
		   specific details about the people they know being sexually abused,
		   threatened, their loved ones held prisoner and under threats to not
		   do anything impressive or try to tell anyone about the hostage
		   situation);
		 - have helped identify and fight some of the worst problems on and off
		   the internet, also witnessing some of the worst evidence, helped with 
		   educating the world on things like piracy and ai which both have good 
		   and bad aspects to them, whereas large parts of the world used to just
		   treat both as inherently bad, which contributed to all sorts of 
		   problems throughout society just by itself;
		 - halt3r;
		 - actual antimatroid who finished in the top 1% globally for the 
		   last two Google ai contests, and helped set them up and coded
		   the map generator for both Planet Wars and Ants;
		 - Director and only person involved above/below the contestant level for
		   AI-BOTS PTY. LTD.;
		 - had the original idea, and did all the work including the coding
		   for nifty-site-manager;
		 - actual numbers from Reddit (not including copycats), along with 
		   numerous other alternative identities, including c---8, n-c-h, nsm, 
		   duckling-tm;
		 - tried to get the whole world to get on board with fighting abuse and
		   turning things around for good when I was younger, only for pretty much
		   everyone knowingly joining in with the people who lie, mislead, pressure,
		   rush, threaten, hold people back, steal people's
		   work/identities/achievements/projects/titles/etc., turn victims against 
		   each other, torment, etc. etc.;
		 - had the whole world turn against my actual relationship match and
		   I not wanting to have to be abused by other people and wanting to be 
		   safe when we did everything we could to help other people in the right
		   ways in the community, people have gaslighted the whole world, and made
		   all sorts of people play along for their abusers;
		 - asked the world to go to war with shitcity when I was younger
		   only for the whole world to say they can't bear to witness the
		   problem but don't care Japanese people deserve it apparently, they
		   refused and prevented me from going to war myself, the
		   whole world turned against me including my actual relationship match
		   only for them to turn around and lie about the whole thing, lying
		   saying I was the one saying we didn't need war and that they were
		   the ones who did, including my actual relationship match just joining
		   in with people gaslighting the world and treating me like a complete
		   joke while holding me back under threats of violence and lying about
		   my actual relationship match wanting to be rescued, even though I had/have
		   done everything I can to help people in need, help the world move forwards
		   from the horrors of the past and have probably managed to solve some of the
		   hardest known unsolved problems with regards to fixing some situations that
		   often screw people over, it seems if you are good at that and can't solve
		   every problem like that you must be the biggest monster on the planet;
		 - have repeatedly had my identities/achievements/results/work/projects
		   stolen by people and used for all sorts of horrible things like ruining
		   people's lives, (sexually) abusing people, causing all sorts of problems
		   to society;
		 - have helped train some of the best athletes, soldiers, academics, extreme
		   sports people etc. all around the world, only for the world to repeatedly
		   throw it in my face by holding me prisoner while people are stuck in
		   abusive situations, not rescuing me from hostage situations, not allowing 
		   me to do things properly, not taking me seriously about what is preventing
		   communities from being safe for the people who are innocent and continue 
		   to hand victims back to their abuser(s);
		 - have offered to help educate and train lots more people if people will
		   commit to not abusing people and help lock up those who don't and/or cause
		   problems, unfortunately the world claims they prefer the victims to have
		   to put up with being sexually abused than to at least learn enough so that
		   the decisions they are making do not just make the victims' situations worse. 
	Contact: contact@wr3ckreational.com

	DO NOT publicise WR3CKREATIONAL to people who are not going to be able to 
	understand the implications of all the rules, including 'extrapolating' what
	is and is not acceptable behaviour, which cannot be explained to people
	easily due to people turning around and saying that's what gave them the idea
	to engage in such behaviour in the first place. 

	The original intentions for the term WR3CKREATIONAL was a play on words for
	recreational activities that wreck things (it can be a fun exercise to see
	what does and doesn't fall under that category, provided one isn't complicit
	to or guilty of the wrong kinds of abuse as a result of that), with one goal
	being to respect what other things go through for people to train up to fight
	abuse. Unfortunately a lot of people against fighting abuse do everything 
	they can to ruin brand reputation/image and names(s) of people involved with 
	fighting abuse, branding, etc.. Please help identify that kind of behaviour 
	and help rescue the victims from it. The victims need to be safe after being
	rescued too.

	WR3CKREATIONAL is for ending the wrong kinds of abuse, anyone who's 
	eligible may consider themselves a member (including brands, companies,
	schools, education boards, tertiary institutions, workplaces, etc.),
	though you will find it is far from safe to reveal your membership,
	especially while the world is run by rapists and there are hostage
	situations ongoing globally. Membership is entirely voluntary.

	It doesn't matter how old you are, if you aren't helping people have an
	actual choice in life then you are part of the problems of the world, 
	that does not include the people who help set up people having a
	'better/safer life' with the abusers/rapists. Having said that, some choices
	cause too many problems to the community to be allowed, those who voluntarily
	engage in those activities need to be held accountable/responsible for
	their actions.

	It is not okay for people to be left prisoner, if people have
	an actual relationship match there are rules about how they are/aren't allowed
	to hold the other person prisoner, especially with regards to just ruining their
	lives behind their back and gaslighting them about wanting to be rescued while
	the whole society/world joins in with it. It is important we separate the
	perpetrators of these atrocitires/war crimes and check which people genuinely
	had an actual choice. People who are not competent at checking things genuinely
	and actually and who engage in that behaviour are commiting war criems themselves
	that could make it even harder to clean up other war crimes. People who engage
	in that behavour need to be held accountable for the war crimes they have 
	commited. Those who join in with stalling any attempt to educate people and
	have people held accountable for these problems are basically also putting
	themselves out as targets to be cleared. People who think that's a bit harsh
	really don't have any damn clue about what sexual abuse is like for the
	actual victims, or what it's like for the people who are gaslighted about
	people being sexually abused while other people are actually being sexually
	abused or abused in other unacceptable ways. 

	People who are making decisions that affect other people's lives need to know
	enough so that the decisions they make do not make the lives of the actual 
	victims actually worse off, and the people who try to manipulate society so
	that the previous sentence works as a 'better life' when the victims are with
	their rapists need to be rounded up. People who refuse to discuss these topics
	properly are usually either held hostage/prisoner or involved with causing
	these sorts of problems, or other problems that need to be identified and
	put to an end, with any victims/hostages/prisoners being rescued. 

	It is completely unacceptable for people who are engaging in behaviour that's
	holding someone prisoner in misery to be involved with gaslighting the victim(s),
	if someone's relationship match is just sleeping around behind their back it is
	pretty fucked up for the community to also lie and force the victims held prisoner
	in misery to call the rapists or people causing even more damage to the community
	friends, family, school mates, teammates, and force them to interact with those
	people. That kind of behaviour is a war crime in and of itself, and people need
	to be held accountable for these war crimes. We need to clean up the past, present
	and future! 

	People who rape people then lie to the people who actually care about the victims
	are putting themselves out there as dead meat. People who sleep with other people's
	actual relationship matches are dead meat, rape or no rape. Especially those who
	hold people prisoner in misery and wont let them actually do anything that's actually
	fun for them. People who say 'they failed to keep them safe' need to be rescued from
	abuse, if they give a shit about their abusers being killed, that's their own damn
	problem, put them in lock up. 

	If people are making accusations about another person, they should be allowed
	to explain themselves, and to people who aren't going to lie about what they
	have said, aren't going to lie to the other victims just to help have the 
	victims handed back to the abusers. If people do not do that properly when 
	they claim to be competent on these topics then they need to be locked up.
	People's lives are destroyed from that kind of behaviour and it's time the
	world stops treating that like some funny joke. 

	We really do not care about friendships and 'hanging out', we like people who
	work hard and actually help figure out what's going on when there's a problem,
	help fix hostage situations properly, don't just gaslight the victims so that
	the abusers can keep their victims. People who verbally/emotionally/psychologically
	abuse people without defending themselves need to be called out for what they 
	are doing and have done. Sometimes they are seeking a retaliation so that they
	can paint the victims out as the perpetrators, other times the victims are made
	to turn against each other under threats of violence from the rapists and abusers
	to each of them and/or other people. The world needs to wake up to what has
	happened there and start cleaning up the hostage situation. 

	The courts need to be run properly, so do the academic institutions and the
	education systems. For too long people have completely ignored incomptence
	while refusing to discuss things properly with the people who are capable
	of doing so and have made the right commitments about intentions so on
	and so forth. People who have joined in with the rapists keeping their
	victims for so long really need to be cleared. 

	People who voluntarily join in with turning the victims against each other,
	making people do things under bad enough threats that cause problems to the
	rest of the community need to be locked up. Those who voluntarily join in 
	with behaviour that ruins communities need to be locked up or held
	accountable for their actions properly. How is the world not fighting
	these sorts of problems? 

	It is worse for people to help someone resist being held accountable for war
	crimes than it is to resist being arrested by the police. People who think
	the police are able to fight sex abuse and hold the right people back from
	training up cause too many problems on this planet (people need to commit
	to not sexually abusing people, or doing anything including asking other
	people to ruin other people's lives and turning victims against each other
	just so the rapists can get their victims). 

	We want an end to forced relationships, prostitution (both legally and
	illegally), involuntary porn, child porn, involuntary cam modelling, forced 
	adoptions, forced friendships, stolen experiences, society just handing
	victims to abusers, bullying, people being held back when they have the right
	intentions. We want society to have the strength to let people who aren't
	going to do the wrong thing to live their lives reasonably freely without
	just having to live their lives as slaves and/or worse to the abusers. 

	Those who don't want these sorts of problems, especially those who are 
	victim to them are going to remain victim to them until the world works
	towards putting an end to all of these problems and having the strength,
	intellect etc. to combat these problems rather than just handing the
	victims back to the rapists. 

	People should not be putting themselves above others just using strength,
	intellect or otherwise alone. People need to have the right intentions,
	though that is not always enough as well. People need to be willing and 
	able to discuss these topics properly without being rushed and without
	threats of violence or otherwise which basically dictate the victim's or
	victims' lives with what's 'a better life' or 'safer' etc.. That is not
	a peaceful society/world, we need to earn peace not declare it, it's a
	good way of looking stupid in the meantime though. 

	Peace is earnt by winning the wars from the past, present and future.
	We cannot leave war crimes from the past unpunished, resisting being
	held accountable for a war crime, or helping someone avoid being held
	accountable for a war crime is far worse than something like a petty
	theif resisting arrest.

	People who destroy the lives of people helping fight these problems just
	so they can abuse victims themselves need to be locked up. If they have 
	refused to get educated on the topics and discuss them properly that is
	not a get out of jail free card. Society needs to wake up there.

	A lot of people set up kids being sexually abused or being in 'child porn'
	so that a lot of other people in society let those people rape basically
	whoever they want for the rest of their lives. It is not okay for people
	who have been abused to use that as a reason to abuse other people. The
	disgusting abusers will do everything they can to turn that around so that
	it looks like the actual victims are the perpetrators so society lets the
	actual perpetrators do whatever they want to their victims. Educate people
	who claim to actually want to fight abuse and test them on their
	understanding. 

	A lot of different people in society are abusers, a lot of jocks, soldiers,
	athletes, doctors, lawyers, academics, etc. are not happy with the people
	who are interested in them (even if they are very interesting and appealing)
	so still do all sorts of horrible things to set up being able to abuse the
	people who don't want to be interacting with them, sexually or otherwise.
	Then let all sorts of other abuse and problems occur to help cover up what
	they are doing to their victims. We need people to combat these problems 
	globally in all areas. 

	Many abuse victims have no choice but to believe whatever their abusers say,
	to do everything they can to convince the rest of society those are the
	people they want to be interacting with and be horrible to the people they
	actually care about. Please help put an end to that kind of nightmare 
	globally.

	People should not be allowed anywhere near people that might be made to come
	on to or be friends with them, have their experiences stolen from them etc. 
	until they are capable of understanding that that does not make it okay. 
	Watch out for people who get their victims to say it's fine when they are
	not able to say so genuinely. People who help steal other people's
	experiences away from them need to be held accountable for their actions,
	society needs to start preventing these things from happening. 

	People who think it's okay for them to sexually abuse people just for helping
	rescue them or other people need to be locked up. People who help make society
	a nightmare for people who interact with the people they actually want to 
	interact with if people aren't just causing them problems need to be locked
	up. If the cops, courts, etc. aren't on board with that then publicise that
	to the rest of the world. Places like that need to be taken over, though bear
	in mind they usually have victims held hostage in such places. 

	We want people to be able to make their own informed choices in life, have
	opportunities for them at their competence levels, but not also hold people
	back from progressing for the wrong reasons (like what abusers do so that
	the rest of society will let them keep their victims and have the abusers
	treated like victims while the victims are treated like abusers). We do
	still want people to work hard so that we can actually fix these sorts of 
	problems society wide, and want people to be able to do so without fear of 
	their work being stolen, or being allowed to be used for all sorts of bad
	things including but not limited to sexual abuse.

	If people aren't strong enough to prevent people from putting them in a
	position where they get abused it does not mean they deserve it. Adults
	being abused by kids (even if they're made to be the ones to contribute
	to it) does not mean the adults are the perpetrators, including all forms
	of sexual abuse. 

	It is not okay to say that the victims should do more to get themselves
	rescued or make it clear to other people that they are hostages, the world
	needs to do more to become educated on these topics and help rescue people
	from these situations worldwide. We do not care what gender, race,
	nationality, sexuality, etc. people are, though we do care whether they 
	are rapists and if people are going to get offended about that kind of thing
	when there are people stuck in abusive situations worldwide that is a
	problem! 

	Other things to watch out for and help fight are people being held back under
	threats, not being allowed to be themselves under threats and people lying
	about why that is. People having their identities/work/achievements/results/
	research/personality/jokes/etc. stolen and used by people for all sorts
	of horrible things. We need to get to the point as a society that we can
	do something about these problems when they happen rather than having to
	let the abusers get away with all sorts of things so that it is a 
	'better life' for the victims.

	People who think it's okay to just grant custody or otherwise of people
	need to be kept away from the victims in society and not be allowed to make
	decisions like that which affect other people's lives, especially if they
	do not know the actual truth. If people are unwilling to learn the actual 
	truth on topics then people should be very weary about any opinions they
	have on any topics relevant to that, and should not be allowed to be involved
	with making decisions that affect the lives of victims of those topics. 

	The actual truth on some topics is too unbearable for some victims, that
	does not make it okay for the rest of society to leave victims in abusive
	situations. People who think if someone is sexually abused enough times they
	should belong to their abuser(s) need to be locked up. The more instances and
	degree of sexual abuse makes the crimes worse not 'better', people should not 
	be allowed to keep their victims if there is a child as a result of sexual
	abuse, and the victims should not be forced to interact with the abusers or
	the children if they aren't able to establish that they actually do not pose
	a danger to other people. Sexual abuse is worse when a child results from 
	the behaviour. The world needs to wake up to that.

	People who say 'it's already happened', or 'there's children involved' 
	without giving a shit whether sexual abuse is involved need to be locked
	up. 

	A lot of people throughout society are somehow successful at having the
	victims labelled as the perpetrators. We need people to wake up to these 
	problems, get educated on the topics and help turn around these problems
	worldwide. 

	Some people join in with causing problems whenever people are getting work
	done, then join in with not causing problems when people are exhausted and
	need to recover. People who engage in that behaviour just to help the abusers
	get their victims need to be locked up. 

	DO NOT educate people on these topics unless they are actually willing to
	discuss their understanding of what they have learnt, what their actual
	opinions are and make actual lifelong commitments about whether they 
	are on board with fighting all of these problems society wide, including
	a lot of other abuse problems that are too dangerous to discuss without
	a lot of actual lifelong commitments. 

	People who can't speak genuinely and don't know how people can and cannot lie
	using the word actually should not be involved with making decisons that 
	affect how other people must live their lives. That doesn't mean people who
	can speak genuinely and understand how people can and cannot lie using the
	word actually have the right intentions and will help prevent rather than 
	cause abuse throughout society.

	There are more ways than strength to help combat abuse. Learning to discuss
	topics properly and educating other people about how to discuss topics
	properly can be helpful, working really hard and making sure other people
	are safe from abuse in lots of different ways can also be very helpful.

	Help educate people across society on these topics and test their
	understanding of various topics. We need the courts, psychs, cops, (extreme)
	sports, education system, academia, corporations, financial institutions,
	credit card companies, airlines, armies, intelligence services, military, 
	etc. to all get on board with fighting these sorts of problems rather than 
	helping cause them!

	Competitions should be fun, not ruin/destroy people's lives. As should all
	hobbies, schools, sports, workplaces, bars, etc., though people's safety
	is also important! Anyone who voluntarily has anything to do with people's
	safety being bet on any kind of competition needs to be identified and locked
	up.

	Help put an end to friendships, relationships and families that are forced,
	involving all sorts of awful tricks leading to a horrible world for the
	victims. Make sure victims are safe from their perpetrators for good. 

	We do not care if people are taking drugs as part of a hostage situation, 
	whether it be for one or many reasons, though do care if people are using
	not being sobre as an excuse for causing abuse of the wrong kind. While
	legalisation of drugs would likely not be good for society, the lives of
	some people, including some forms of chronic pain and abuse victims can be
	much better with some drugs. Society needs to stop treating these people 
	like the monsters in society rather than the actual abusers/perpetrators.
	The abusers often give some of the victims a 'better life' when some of the
	other victims engage in drug use or do other things to ruin their reputation
	and lives. The world needs to start fighting these problems rather than just
	joining in with causing them. 

	We do care if people use alcohol or drugs as a way to sexually abuse people, 
	or force people to even have casual sex when they don't want to be. People 
	who engage in that behaviour need to be kept away from people they pose a
	danger to. 

	Be very careful of people who use other people's identities, achievements, 
	etc. etc., society needs to get to a point where people like that can be
	locked up. 

	Become experts on things like drugs, alcohol, duress, rape, abuse,
	relationships, religions, forced relationships/friendships/marriages/breakups,
	kidnapping, human trafficking, threats, hostage situations, witnessing, 
	evidence, computers, mathematics, logic, English, court systems, prison
	systems, intelligence, financial systems/institutions, economics, programming
	web development, using things properly, forums, moderation, administrating, 
	managing, sponsorship (often rife with abuse for some people), sports clubs, 
	extreme sports, education systems, academia, research, science, medicine 
	(not just what's done in thehospitals) etc. etc..

	We do need some people on the internet unfiltered, we need people becoming 
	educated on how bad things are both on and off the internet. We need people
	witnessing, collecting evidence (if they have the strength to keep it safe).
	Passing evidence and information along to the authorities when the
	authorities have no choice but to give the victims back to the abusers more 
	often than not just makes the lives of the victims given to the abusers even
	worse. When a community reaches that point and they do not have the strength
	to do anything about it we need ways for people to get outside help. 
	Unfortunately a lot of the ways there currently, like sports, authorities,
	militaries etc. are not doing their jobs properly, they are overrun by people
	who just join in with turning the victims against each other. 

	People who join the army/military without the right intentions, who will
	sexually abuse people, force people in to situations they don't want to be
	in etc. are scum!

	You are not eligible if you have voluntarily contributed to putting anyone
	in any of the situations that we are trying to put an end to. And should make
	it clear to anyone who knows about WR3CKREATIONAL that we are not interested
	in people making situations like that happen with them claiming they are 
	trying to 'reward people' or some other kind of fucked up excuse to cause
	further harm to the world and everything on it. 

	In the past people from wr3ckreational have been made to put child porn on the
	internet and leave it there under threat of violence. People need to wake up
	to these sorts of things happening and help identify the real perpetrators in
	society so they can be kept away from their victims for good. People make 
	threats to turn the victims against each other, like to abuse animals or live 
	their lives like a loser (also making it easier for the rapists to lie about there
	being threats and where they're coming from), to gain weight etc. etc.. which also
	helps the actual victims/perpetrators be treated like the perpetrators/victims 
	by society and helps the perpetrators have their victims handed to them by 
	society. Please help fight these problems. 

	Lots of people have claimed to be part of wr3ckreational only to join in with
	forcing people to play along for them, making them join a 'better life', engaging
	in behaviour that tears entire communities apart and causes problems for the
	rest of the planet. People who voluntarily engage in that behaviour are holding
	the rest of the world hostage, we need to take back over from them.
*/

